lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
test/integration/hammerdown/fixtures/actual
test/integration/githubFlavoredHammerDown/fixtures/actual
.DS_Store